*{
    margin: 0;
    padding: 0;
    background-color: white;
}

body{
    
    overflow: hidden;
    height: 100vh;
    background-color: white;
}




/* The Background Video -- set as zindex = -1*/
.vid {
    position: fixed;
    object-fit: cover;
    top:0;
    left:0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto; 
    overflow: hidden;
}


.menu-left{
  position:fixed;
  top:0;
  left:0;
  padding:20px;
  margin:20px;
  text-align: left;
  
  color: black;
  z-index: 1;

}

.menu-left ul li{
  padding:25px;
  text-align: left;
  transition: all .5s ease-in;
  cursor: pointer;


}

.menu-left ul li:hover{
  transform:scale(1.2);
  
}